{% extends 'base.html'%}
{% block conteudo %}
<div class="container">

    <div style="text-align: center;"> <img src="{{ url_for('static', filename='imagem/branco.jpg') }}" alt="Logo" width="150" height="100"></div>
   <br>
    <h1>TERMOS E CONDIÇÕES DE USO</h1>
    <br>
    <h2>1. Introdução</h2>
        <p>A BOXPOKER estabelece os termos e condições de uso do serviço que
            oferece aos usuários para desfrutarem do aplicativo de jogo denominado BOXPOKER.
            
            O usuário tem o dever de ler atenciosamente os Termos e Condições de Uso do aplicativo e as demais regras e políticas da BOXPOKER antes de aceitá-los. 
            Caso o usuário não concorde com alguma das disposições do presente Termo, não deverá abrir uma conta na BOXPOKER, e deverá parar de usar o aplicativo e deletá-lo de seu computador e/ou dispositivo móvel. O uso continuado do aplicativo constitui
            aceitação dos Termos. 
            
            Ao se cadastrar e usar os produtos da BOXPOKER, o usuário concorda em se sujeitar e cumprir o presente Termos e Condições em sua plenitude e sem reservas, bem como a Política de Privacidade, Política de Jogo Responsável e quaisquer outras políticas da BOXPOKER. 
            
            Após a concordância do usuário em se sujeitar ao presente Termo, o documento se torna acordo entre as partes, e constitui um contrato juridicamente vinculativo entre o usuário e a Empresa.</p>
        </p>

        <h2>2. O Poker</h2>
        <p>As atividades desenvolvidas pela BOXPOKER não se enquadram, sob
            nenhuma hipótese, como jogos de azar. O Poker é considerado um jogo de habilidade.
            
            A BOXPOKER fornecerá plataforma com jogos de poker onde os jogadores
            jogarão entre si. Pela oferta desse serviço, a BOXPOKER será remunerada por meio de
            uma comissão a ser paga pelos jogadores pelo direito de participar do jogo
            (denominada “rake”), principalmente por meio da cobrança de um percentual sobre as mãos jogadas ou pela cobrança de um valor percentual pela organização de
            torneio. 
            
            As premiações dos usuários serão pautadas na performance dos
            jogadores. Ademais, os jogadores sempre serão remunerados de acordo com sua
            posição em torneios. O dinheiro do torneio nunca retornará à BOXPOKER, que apenas
            cobra remuneração pela prestação de serviço de gerenciamento da partida.
            
            Por fim, a remuneração da BOXPOKER não é vinculada ao resultado dos
            jogadores. A Empresa sempre receberá um valor de acordo com o número de
            participantes, independentemente de quem seja o vencedor do jogo ou torneio.
            
            Portanto, a BOXPOKER atende todas as normas regulatórias.</p>

        <h2>3. Informações da Conta</h2>
        <p>Para jogar no aplicativo BOXPOKER, será necessário que o usuário crie
            uma Conta e selecione uma senha, fornecendo informações pessoais precisas,
            completas e atualizadas, que podem incluir o nome completo, data de nascimento,
            endereço de e-mail, número de telefone e informações de pagamento. Essas
            informações serão mantidas e utilizadas de acordo com a Política de Privacidade da
            BOXPOKER e com a Lei Geral de Proteção de Dados (Lei nº 13.709/2018).
             
            Somente será permitida a abertura de uma conta por usuário. Para verificar a identidade do usuário e cumprir obrigações regulatórias, a Empresa poderá
            solicitar que o usuário forneça detalhes pessoais e/ou documentação específica. Os
            documentos podem ser, mas não se limitam, a documento de identidade, passaporte,
            comprovante de endereço, comprovante do método de pagamento. Se for necessário,
            poderá ser solicitado cópias autenticadas em Cartório dos documentos.
            
            A Empresa se reserva no direito de colocar restrições em sua conta
            (incluindo, por exemplo, a capacidade de sacar, depositar ou acessar os jogos), até
            que sejam fornecidas as informações solicitadas e/ou tenha sido concluída as
            verificações necessárias.
             
            Se as solicitações de documentos não forem atendidas pelo usuário, a
            Empresa poderá, a seu critério exclusivo, encerrar a conta e reter quaisquer fundos
            nela presentes. Se os documentos não forem aprovados por verificações internas de
            segurança, a Empresa não terá obrigação alguma de aceitar tais documentos como
            válidos.
             
            O usuário é responsável por manter a segurança da sua Conta, e não
            deve compartilhar os detalhes da conta com terceiros. Todos os atos realizados na
            Conta do usuário serão considerados como realizados pelo usuário. Por essa razão, o
            usuário aceita a responsabilidade por todos os atos praticados em sua Conta,
            incluindo compras feitas com qualquer meio de pagamento.
             
            Por razões legais e comerciais, a BOXPOKER não aceita jogadores que
            residam em vários países e jurisdições. Ao tentar abrir uma Conta e utilizar o
            aplicativo, é responsabilidade do usuário verificar se o jogo é legal na jurisdição
            específica.
             
            O usuário tem o dever de manter a sua conta e os seus dados
            atualizados. Se pretender encerrar a conta, deverá enviar um pedido formal para a
            BOXPOKER, por e-mail disponibilizado ou por contato ao suporte via aplicativo.
            
            </p>

        <h2>4. Verificações da Idade e da Identidade</h2>
        <p>Ao abrir a conta e fazer uso do aplicativo da BOXPOKER, o usuário garante
            que tem pelo menos 18 (dezoito) anos de idade, ou qualquer idade superior exigida
            pelas leis que se aplicam ao usuário (“Idade Legal”).
             
            Ademais, ao abrir a conta, o usuário também deverá confirmar que os
            dados fornecidos estão corretos, que é o legítimo proprietário do dinheiro em sua
            conta, que o valor provém de origem lícita e que é residente em uma jurisdição que
            não proíbe o jogo de Poker.
             
            A Empresa reserva o seu direito de, a qualquer momento, solicitar
            comprovantes de identidade, de forma a assegurar que os serviços não estão sendo
            utilizados por menores de idade. A Empresa poderá suspender ou cancelar a conta,
            temporária ou permanentemente, caso o comprovante de idade solicitado não seja
            enviado, ou que haja suspeita de que se trate de um menor.
             
            A Empresa cumpre as leis, regulamentos e diretrizes para a prevenção de
            lavagem de dinheiro e financiamento do terrorismo. As transações suspeitas serão
            investigadas pela Empresa e, se necessário, será feita uma comunicação de transação
            suspeita as autoridades competentes.
             
            Depois de abrir uma conta, o usuário não deve divulgar seu nome e
            usuário para ninguém. Caso o usuário perca ou esqueça a senha, poderá recuperá-la
            diretamente pelo aplicativo.</p>

        <h2>5. Inatividade</h2>
        <p>Se a conta do usuário permanecer inativa (ou seja, quando nenhum login
            for realizado no aplicativo) por um período superior a 12 (doze) meses, a conta será
            considerada uma “conta inativa”, e a BOXPOKER se reserva no direito de cobrar uma taxa mensal de manutenção da conta a partir do 13º (décimo terceiro) mês de
            inatividade.
             
            Antes da cobrança de qualquer taxa, a BOXPOKER fará os esforços cabíveis
            para notificar o usuário. Após o recebimento da notificação, o usuário terá 30 (trinta)
            dias para fazer login na sua conta de jogador. Se nenhum login for registrado dentro
            desse período de 30 (trinta) dias, a taxa de manutenção será cobrada subtraída da
            conta do usuário.
             
            Se a conta do jogador permanecer inativa por mais de 12 (doze) meses e
            o saldo da conta for R$ 0,00, não haverá cobrança adicional. A taxa de inatividade será
            cobrada mensalmente até que a próxima transação seja realizada. Após a taxa de
            inatividade ser cobrada por 30 (trinta) meses consecutivos, ou após o saldo da conta
            atingir R$ 0,00, a empresa tem o direito de encerrar a sua conta.</p>

        <h2>6. Depósitos em conta</h2>
        <p>O usuário pode participar de qualquer jogo apenas se tiver fundos
            suficientes disponíveis para participação. Não será concedido nenhum crédito pela
            empresa para participação em qualquer jogo.
             
            O usuário somente deve usar cartões, chaves PIX e outros instrumentos
            financeiros que sejam válidos e que pertençam legalmente ao usuário em relação a
            depósitos de fundo em sua Conta.
             
            Para depositar fundos em sua Conta, o usuário poderá usar qualquer um
            dos métodos de depósito especificados no aplicativo BOXPOKER. A Empresa poderá
            cobrar uma taxa não reembolsável em relação ao processamento de depósitos, que
            podem variar ao longo do tempo. 
            
            O usuário não pode usar fundos originados de qualquer atividade ou
            fonte ilegal, e também não possui permissão para transferir, vender e/ou adquirir
            contas de usuário.
             
            Para evitar atividades fraudulentas, a Empresa irá reembolsar depósito
            do usuário se descobrir que ele foi feito usando um método de pagamento emitido ou
            pertencente a outra pessoa. Nesse caso, o usuário será considerado um violador dos
            Termos, e todos os demais ganhos e valores serão confiscados e removidos da Conta
            imediatamente, e a Conta será bloqueada; o reembolso será processado diretamente
            para o método de pagamento utilizado para o depósito.
             
            A Empresa se reserva o direito de recusar qualquer pedido de transferência entre contas ou estornar qualquer transferência sob suspeita de violação de qualquer um dos termos do presente Termo pelo emissor ou receptor.
             
            A Empresa aceitará pagamentos com a moeda escolhida no momento de registro, a depender do mercado. A taxa de câmbio utilizada pela Empresa será atualizada diariamente e determinada no momento do depósito e/ou saque do valor da Conta.
             
            A BOXPOKER não é uma instituição financeira, e, portanto, não haverá
            juros sobre os valores depositados.
             
            A BOXPOKER não aceitara depósitos em dinheiro em espécie.
             
            Ao depositar dinheiro na BOXPOKER o usuário concorda em não fazer estornos, reembolsos ou cancelar quaisquer depósitos em sua conta e concorda em
            reembolsar e compensar os depósitos não pagos.
            </p>

        <h2>7. Saques</h2>
        <p>Os saques são creditados em qualquer dos métodos utilizados para fazer
            depósitos. A solicitação de saque poderá ser feita pela Conta no aplicativo BOXPOKER.
             
            O usuário não tem permissão para usar métodos de pagamento de
            terceiros para saques, e a Empresa se reserva ao direito de redirecionar pagamentos
            para escolher métodos de pagamento que tenham sido utilizados anteriormente pelo
            usuário em relação a qualquer pagamento específico.
             
            Os prazos de retirada dependem do status de verificação do usuário. A
            Empresa tem o dever de se certificar da identidade do usuário, e isso pode impactar
            nos tempos de aprovação do processamento de retirada.</p>

        <h2>8. Bônus e Rakeback</h2>
        <p>A Empresa poderá, sob certas circunstâncias, conceder a determinados
            usuários o chamado dinheiro de bônus. As condições para o crédito do bônus e o valor
            do bônus são determinados pela empresa e estabelecidos no site e/ou aplicativo.
             
            A BOXPOKER possui como diferencial o seu programa de rakeback. Todo
            usuário recebe 40% (quarenta por cento) de rakeback, independentemente de
            solicitação, automaticamente. A plataforma irá informar o valor que será recebido
            antes de ser creditado.
             
            Além disso, será concedido adicional de 40% (quarenta por cento) de
            rakeback em caso de indicação, quando houver a afiliação de um amigo com o ID do
            usuário. Não há limitação de indicação por usuário, e cada indicação resultará em
            mais 40% (quarenta por cento) de “Rake Amigo”.
            
            Caso a Empresa tenha suspeita que o usuário esteja abusando do bônus
            ou tentando burlar o programa de rakeback, criando diversas contas de usuário por
            exemplo, poderá recusar, reter ou remover qualquer bônus ou promoção do usuário,
            impedir que o usuário tenha acesso aos serviços, ou bloquear a sua Conta.
             
            A Empresa se resguarda o direito de, a qualquer tempo e sem aviso,
            alterar os percentuais e as regras relativas ao rakeback.</p>

        <h2>9. Regras de bate-papo</h2>
        <p>A Empresa concede aos usuários a possibilidade de uso de sala de bate - papo 
            onde podem se comunicar com outros jogadores. A sala de bate-papo destinase
            a comentários legítimos e discussões construtivas.
             
            O uso do bate-papo está sujeito às seguintes regras:
             
            a) Proibição de declarações de caráter sexualmente explícitos ou
            ofensivo, incluindo expressões discriminatórias, racistas, de ódio
            ou profanação;
             
            b) O usuário não deve fazer afirmações de caráter abusivo,
            difamatório, provocativo, insinuante a outros usuários do
            aplicativo;
             
            c) Vedação de divulgação de textos com fins publicitários ou que
            promovam outras entidades;
             
            d) Proibição de divulgação de link para vírus, arquivos corrompidos
            ou que visem coletar ou armazenar dados do aplicativo ou de
            outro usuário.
            
            A Empresa reserva o direito de analisar o bate-papo e manter registro de
            todas as declarações realizadas. Em caso de violação de qualquer uma das
            disposições acima relacionadas, a Empresa poderá suspender a participação do
            usuário no bate-papo, ou até mesmo suspender a sua Conta temporária ou
            permanentemente.
             
            A Empresa também se reserva o direito de fechar ou remover quaisquer
            salas de bate-papo sem aviso prévio, e relatar quaisquer bate-papos ou comentários
            suspeitos às autoridades competentes.</p>

        <h2>10. Violações dos Termos e utilizações proibidas</h2>
        <p>As seguintes atividades não são permitidas e constituem violação aos
            Termos e Condições de Uso:
             
            a) Conluio e trapaça: compartilhando cartas da mão ou por qualquer
            outro método proibido;
             
            b) Modificação de software: o usuário não pode tentar, de forma
            alguma, modificar, descomprimir, alterar ou descomplicar o
            Software;
             
            c) Uso pessoal: o BOXPOKER é exclusivo para uso pessoal e
            entretenimento do usuário, e a Conta não deve ser utilizada para
            qualquer propósito profissional, comercial ou de negócios;
             
            d) Realizar atividades fraudulentas, incluindo, mas não se limitando,
            ao uso de cartão de crédito ou débito roubado, clonado ou de
            outra forma não autorizada, como fonte de fundos;
            
            e) Participar de atividades criminosas, como por exemplo a prática
            de lavagem de dinheiro;
             
            f) Ferramentas externas de assistência ao jogador: a BOXPOKER
            proíbe as ferramentas externas de assistência ao jogador, que
            possam gerar uma vantagem injusta ao usuário.
             
            g) Jogadores automatizados (BOTS): a utilização de inteligência
            artificial é estritamente proibida em relação ao uso da BOXPOKER.
             Todas as ações do usuário na plataforma devem ser executadas
            pessoalmente pelos jogadores, sem a assistência de qualquer
            tipo de inteligência artificial.
             
            h) Chip-Dumping: O Chip-Dumping de fichas ocorre quando
            qualquer usuário perde intencionalmente uma mão, de forma a
            transferir deliberadamente as suas fichas para outro usuário.
             
            A Empresa tomará todas as medidas cabíveis para evitar tais atividades,
            detectá-las e identificar os jogadores envolvidos. A Empresa não é responsável por
            qualquer perda ou dano que o usuário ou outro jogador possa ter como resultado de
            tais atividades.
             
            No caso de violação aos Termos e comportamento fraudulento, a
            Empresa poderá, dentre outras medidas: i) proceder ao bloqueio imediato do acesso
            à plataforma; ii) encerrar a conta do usuário com a BOXPOKER; iii) informar as
            autoridades competentes e outros operadores de jogos online; iv) interpor ação
            judicial contra o usuário.</p>

        <h2>11. Limites da responsabilidade</h2>
        <p>A Empresa não será responsável por quaisquer danos especiais, incidentais, diretos, indiretos ou consequenciais (incluindo danos por lucros cessantes, interrupção de negócios ou qualquer outra perda pecuniária) decorrente do uso (ou mau uso) da plataforma, mesmo que a BOXPOKER tivesse conhecimento prévio da possibilidade de tais danos.
 
            No caso de o Software ou os serviços não funcionarem corretamente, a Empresa não será responsabilizada por qualquer perda, a menos que tenha agido com negligência. Se algum desses erros resultar em um aumento de valores pagos, o usuário não terá direito de receber os valores desse aumento, e deverá informar imediatamente a Empresa.</p>

        <h2>12. Propriedade Intelectual</h2>
        <p>A BOXPOKER confere ao usuário o direito limitado, não-exclusivo, pessoal, intransferível, não licenciável e revogável de instalar e utilizar o Software em seu computador ou dispositivo móvel, sujeitando-se aos termos e condições aqui expostos.
 
            O usuário não deve:
             
            a) Copiar, redistribuir, publicar, fazer engenharia reversa, desmontar,
            modificar, traduzir ou fazer qualquer tentativa de acessar o códigofonte
            para criar trabalhos dele derivados;
             
            b) Vender, designar, sublicenciar, transferir, distribuir ou arrendar o
            Software da BOXPOKER;
             
            c) Exportar o Software para qualquer país;
            
            d) Usar o Software de forma proibida pelas leis, regulamentos aplicáveis
            e violando os termos e condições de uso;
             
            O uso do Software não concederá ao usuário nenhum direito de
            propriedade intelectual. Nenhum direito é concedido para reproduzir quaisquer
            nomes comerciais, marcas registradas ou logotipos que apareçam no Site.</p>

        <h2>13. Vigência e rescisão</h2>
        <p>O contrato com o usuário entrará em vigor imediatamente após a conclusão do processo de registro junto a Empresa e continuará em vigor até que seja
            rescindido de acordo com seus termos.
             
            As contas do usuário poderão ser suspensas ou encerradas pela Empresa
            nas seguintes situações:
             
            a) Usuário não forneceu provas de que é maior de idade;
             
            b) Usuário criou uma conta duplicada;
             
            c) Suspeita de transações realizadas com a finalidade de lavagem de
            dinheiro ou outra atividade ilegal;
             
            d) Suspeita de que o usuário tentou fazer um depósito usando um
            método de pagamento emitido ou pertencente a terceiro;
             
            e) Suspeita de que o usuário tentou intencionalmente contornar as
            verificações de segurança da Empresa, ocultando informações
            solicitadas ou fornecendo informações falsas;
             
            f) Violação aos Termos e Condições de Uso.
            
            Em caso de rescisão em decorrência de algum dos comportamentos
            acima, a Empresa não terá obrigação de devolver ao usuário o saldo de sua conta.
             
            O usuário poderá cancelar a sua Conta em qualquer momento, por meio
            do próprio aplicativo ou por solicitação via e-mail. Nesse caso, o saldo em conta será
            devolvido dentro de um prazo razoável, sendo reservado à Empresa deduzir qualquer
            valor que lhe seja devido.</p>

        <h2>14. Reclamações e suporte</h2>
        <p>O usuário poderá entrar em contato com a Empresa para realizar alguma
            reclamação, denúncia, sugestão por meio de e-mail ou diretamente pelo aplicativo,
            em local específico.
             
            A empresa buscará dar uma resposta adequada à reclamação o mais
            rápido possível. Dependendo da complexidade do caso, poderão ser exigidos
            documentos adicionais.</p>

        <h2>15. Alterações aos Termos e Condições de Uso</h2>
        <p>A Empresa poderá alterar os Termos por vários motivos. Os Termos
            atualizados serão disponibilizados no site e/ou no aplicativo.
             
            A Empresa irá notificar os usuários sobre quaisquer alterações materiais a serem introduzidas nos Termos e Condições de Uso antes que tais alterações entrem em 
            vigor, e o usuário será solicitado a aceitar expressamente tais alterações par a continuar utilizando o serviço. Recomenda-se que os usuários visitem regularmente os termos e condições de uso da BOXPOKER e as Políticas da Empresa, e verifiquem as versões em vigor nessa data. Considera-se que a utilização continuada da BOXPOKER pelo usuário representa a sua aceitação de qualquer alteração aos Termos e Políticas.</p>
            <br>
    <h2>Os Termos e Condições de Uso da BOXPOKER entram em vigor a partir de 31/01/2023.</h2>
    <br>
    <br>
</div>
{% endblock conteudo %}
